<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>生产计划管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" media="screen" href="/OFPMS/libs/bootstrap3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/OFPMS/libs/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/OFPMS/css/main.css" />

    <script src="/OFPMS/libs/vue.min.js"></script>
    <script src="/OFPMS/libs/jquery.min.js"></script>
    <script src="/OFPMS/libs/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/OFPMS/libs/bootstrap-table/bootstrap-table.js"></script>
    <script src="/OFPMS/libs/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

</head>
<body>

<!-- 头部 -->
<?php include("../inc/head.php") ?>
<div class="container-fluid">
    <!-- 菜单栏 -->
    <?php include("../inc/menu.php") ?>
    <!-- 网页主体 -->
    <div id="app" class="col-md-8">
        
        <h1>生产计划管理</h1>
		        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-1 control-label">生产计划编号</div>
                <div class="col-sm-2">
                        <input class="form-control" type="text" placeholder="生产计划编号" v-model="landInfo.name">
                </div>              
                <div class="con-sm-1">
                        <button class="btn btn-primary" type="button" v-on:click="search">查询</button>
                        <button class="btn btn-primary" type="button" v-on:click="add">新增</button>
                </div>
            </div>
			</form>
		

    </div> 
</div>
 <div class="form-group">
   
                <div class="col-sm-1 control-label">技术员</div>
                <div class="col-sm-2">
                    <input class="form-control" type="text" placeholder="技术员" v-model="landInfo.tech_name">
                </div>
               
            </div>
        </form>
        
        <table id="table" ></table>

        <!-- 增加弹出框 -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="modal_title"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" style="width:100%;">
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">蔬菜名</div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" v-model='addlandInfo.name' />
                                    </div>
                                    <div class="col-sm-2 control-label">制定生产计划日期</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.plan_date' />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">预计播种日期</div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" v-model='addlandInfo.forecast_sow_land' />
                                    </div>
                                    <div class="col-sm-2 control-label">预计播种土地</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_market_date' />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">预计上市日期</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_market_date' />
                                    </div>
                                    <div class="col-sm-2 control-label">预计上市那天的采购量</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_market_date_purchase quantity' />
                                    </div>
									<div class="col-sm-2 control-label">预计高峰日期</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_high_date' />
                                    </div>
									<div class="col-sm-2 control-label">预计高峰那天的采购量</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_high_date_purchase quantity' />
                                    </div>
									<div class="col-sm-2 control-label">预计下市日期</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.forecast_sold out_date' />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-2 control-label">技术员</div>
                                    <div class="col-sm-3">
                                            <input type="text" class="form-control" v-model='addlandInfo.tech' />
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" @click="modalCommit">
                            提交
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div> 
</div>


    <script src="/OFPMS/js/plan.js"></script>
</body>
</html>